@import "../../style/variables.scss";

.instagram {
	padding: 4.5rem 0;
	margin-bottom: 6rem;

	.iframe-wrap {
		position: relative;
		width: 100%;
		padding-bottom: 50%;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			border: 0;
			width: 100%;
			height: 100%;
		}
	}
	// 992.98px and down
	@media(max-width: $screen-md-down){
		.iframe-wrap {
			padding-bottom: calc(100% - 10px);
			iframe {
				top: -98px;
				height: calc(100% + 98px);
			}
		}
	}
	// 767.98px and down
	@media(max-width: $screen-sm-down){
		.iframe-wrap {
			padding-bottom: calc(400% - 20px);
			iframe {
				top: -98px;
				height: calc(100% + 98px);
			}
		}
	}
	// 480px and down
	@media(max-width: 480px){
		.iframe-wrap {
			padding-bottom: calc(400% - 20px);
			iframe {
				top: -106px;
				height: calc(100% + 106px); // 66px + 40px
			}
		}
	}

	// 380px and down
	@media(max-width: 380px){
		.iframe-wrap {
			padding-bottom: calc(400% - 20px);
			iframe {
				top: -125px;
				height: calc(100% + 125px); // 66px + 40px
			}
		}
	}

	// 768px and up
	@media(min-width: $screen-lg-up){
		.iframe-wrap {
			padding-bottom: calc(50% - 10px);
			iframe {
				top: -98px;
				height: calc(100% + 98px);
			}
		}
	}
}
