@import "../../style/variables.scss";

.our-team {
	position: relative;
	width: 100%;
	padding: 0;
	overflow: hidden;
	margin-bottom: 6rem;
	h4 {
		color: $theme_dark_green;
		font-style: italic;
	}
	p {

	}
	.image {
		img {
			width: 100%;
		}
	}
	@media(min-width: $screen-md-up){
		.row {
			justify-content: center;
		}
	}
	@media(min-width: $screen-xl-up){
		.content {
			h3 {
				text-align: left;
			}
		}
	}
}
