$font_system: -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Roboto, Droid Sans, Helvetica Neue, sans-serif;
$font_default: Josefin Sans, #{$font_system}; 
$font_title: 'Roboto Slab', #{$font_system};
$theme_main: #444;
$theme_gray: #444;
$theme_green: #d9d8c1;
$theme_dark_green: #84C340;
$theme_lavender: #e6e6fa;
$theme_blue: #abdce1;
$theme_pink: #deb6b6;
$screen-sm-up: 576px;
$screen-sm-down: 767.98px;
$screen-md-up: 768px;
$screen-md-down: 991.98px;
$screen-lg-up: 992px;
$screen-lg-down: 1199.98px;
$screen-xl-up: 1200px;