@import "../../style/variables.scss";

.footer {
	background-color: $theme_main;
	color: #aaa;
	position: relative;
	width: 100%;
	padding: 2rem 0;
	overflow: hidden;
	min-height: 40rem;
	.btn-map {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	    padding: 0 4rem 0 2rem;
	    height: 4.8rem;
		svg {
			margin-right: 1rem;
		}
	}
	h3 {
		color: #fff;
		text-align: left;
	}
	.col {
		display: flex;
		flex-direction: column;
		padding: 0 1.5rem;
	}
	.hours {
		text-align: left;
	}
	.legal {
		width: 100%;
		padding: 2rem 0;
		border-top: 1px solid #aaa;
		color: #aaa;
		text-align: center;
		margin-top: 3rem;
	}
	.btn-primary {
		color: #fff;
		border-color: #fff;
	}
	.content p a {
		color: #aaa;
		&:hover {
			text-decoration: none;
		}
	}
	.social-icons {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		> li {
			a {
				opacity: .5;
				transition: opacity .25 ease-in-out;
				&:hover,
				&:focus {
					opacity: 1;
				}
			}
		}
	}
	.ar-responsive {
		width: 100%;
		position: relative;
		margin: 0;
		.map {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: .5rem solid #fff;
			background-color: $theme_blue;
		}
	}

	@media(max-width: $screen-md-down){
		.ar-responsive {
			padding-bottom: 100%;
		}
		.col {
			width: 100%;
		}
	}
	
	@media (max-width: $screen-xs-down){
		.ar-responsive {
			padding-bottom: 150%;
			.map {
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
			}
		}
	}

	@media(min-width: $screen-lg-up){
		.ar-responsive {
			padding-bottom: 56.25%;
		}
		.col {
			width: 50%;
			&.col-signup {
				width: 100%;
			}
		}
	}

	@media(min-width: $screen-lg-up){
		.col {
			width: 20%;
			&.col-signup {
				width: 40%;
			}
		}
	}

	@media(min-width: 1200px){

	}
}
